body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*, *:before, *:after {box-sizing: inherit;}


/* Works on Firefox */
* {
  scrollbar-color:rgba(255, 255, 255, 0.1)  rgb(149, 149, 149);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(149, 149, 149);
}